<%= simple_form_for(@product) do |f| %>
  <div class="form-group">
    <%= f.error_notification %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.simple_fields_for :product_categories do |product_category| %>
      <%= render 'product_category_fields', :f => product_category %>
    <% end %>
    <div class="wrapper-add-category">
      <%= link_to_add_association 'Add category', f, :product_categories, :class => 'btn btn-success btn-xs' %>
    </div>
  </div>
  <%= f.submit :class => 'btn btn-warning btn-submit' %>
<% end %>
